p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
h1 {
  color: #003049;
}
h2 {
  color: #D62828;
}
h3 {
  color: #F77F00;
}
h4 {
  color: #8BE8CB;
}
